*{
  padding: 0;
  margin: 0;
  box-sizing: 0;
  border: 0;
}

html,body{
  height: 100%;
}
.index {
  display: flex;
  text-align: center;
  justify-content: center;
  align-items: center;
  background: #f5f6f7;
  flex-direction: column;
  height: 100%;
}

button{
  padding: 8px;
  border-radius: 8px;
  cursor: pointer;
  border: 1px solid #000000;
}


#inputColumn{
  width: 95%;
  border-radius: 8px;
  padding: 8px;
  margin: 10px 0;
  background-color: rgb(209, 209, 209);
}
#importFile{
  margin: 10px 0;
}
.buttonClean:hover{
  background-color: red;
  color: rgb(255, 255, 255);
}
.buttonGenerate{
  width: 100%;
  display: none;
  background-color: rgb(34, 111, 226);
  color: white;
}

.buttonGenerate:hover{
  background-color: rgb(38, 87, 160);
}

.progress-bar-container {
  margin: 5px 0;
  width: 100%;
  height: 10px;
  background-color: #f2f2f2;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar {
  width: 0%;
  height: 100%;
  background-color: #4caf50;
  transition: width 0.3s ease-in-out;
}
